---

---

<div
  class="min-h-[100vh] items-center w-full overflow-hidden text-center text-[#ffff] bg-gradient-to-b from-[#1E3A8A] to-white bg-no-repeat p-5"
>
  <div class="m-15 flex flex-col items-center justify-center text-center">
    <h1
      class="font-sans text-5xl font-semibold items-center justify-center text-center"
    >
      From Concept to Code
    </h1>
    <h1
      class="font-sans text-5xl font-semibold items-center justify-center text-center leading-[73px] text-[#F97316]"
    >
      We Make IT Happen
    </h1>
  </div>
  <p
    class="text-[#cfdae8] font-inter text-[20px] font-normal leading-[24px] text-center mt-[2vh] p-[1vh]"
  >
    Your trusted partner in digital transformation. We provide cutting-edge
    technology solutions <br /> to elevate your business, enhance efficiency, and
    drive growth. With a team of skilled professionals, <br /> we deliver customized
    web development, cloud computing, and AI-driven solutions tailored to your needs.
  </p>
  <div class="m-20">
    <a
      href="/start-project"
      class="py-3 px-6 border-none cursor-pointer bg-[#F97316] text-[#F9F9F9] rounded-lg hover:bg-[#C0560A] mt-[5vh]"
    >
      Let's have a call
    </a>
  </div>
</div>
