<footer
  class="w-full flex flex-col items-center text-[#ffff] bg-[#1E3A8A] justify-center p-5 max-w-screen-2xl"
>
  <div class="container">
    <div class="hidden md:flex justify-evenly p-15 w-full mb-24">
      <div class="p-2 text-left">
        <h2 class="mb-5 text-xl font-bold">Company</h2>
        <ul class="list-none p-0">
          <li class="mb-1 transition-transform duration-300 hover:scale-110">
            <a href="/" class="no-underline">Home</a>
          </li>
          <li class="mb-1 transition-transform duration-300 hover:scale-110">
            <a href="/about" class="no-underline">About</a>
          </li>
          <li class="mb-1 transition-transform duration-300 hover:scale-110">
            <a href="/services" class="no-underline">Services</a>
          </li>
          <li class="mb-1 transition-transform duration-300 hover:scale-110">
            <a href="/#reserveCall" class="no-underline">Contact</a>
          </li>
        </ul>
      </div>
      <div class="p-2 text-left">
        <h2 class="mb-5 text-xl font-bold">Help</h2>
        <ul class="list-none p-0">
          <li class="mb-1 transition-transform duration-300 hover:scale-110">
            <a href="#" class="no-underline">Customer support</a>
          </li>
          <li class="mb-1 transition-transform duration-300 hover:scale-110">
            <a href="/terms-of-service" class="no-underline">Terms of Service</a
            >
          </li>
          <li class="mb-1 transition-transform duration-300 hover:scale-110">
            <a href="/privacy-policy" class="no-underline">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="p-2 text-left">
        <h2 class="mb-5 text-xl font-bold">Resources</h2>
        <ul class="list-none p-0">
          <li class="mb-1 transition-transform duration-300 hover:scale-110">
            <a href="#" class="no-underline">Free eBooks</a>
          </li>
          <li class="mb-1 transition-transform duration-300 hover:scale-110">
            <a href="#" class="no-underline">Development Tutorial</a>
          </li>
          <li class="mb-1 transition-transform duration-300 hover:scale-110">
            <a href="#" class="no-underline">How to - Blog</a>
          </li>
          <li class="mb-1 transition-transform duration-300 hover:scale-110">
            <a href="#" class="no-underline">Career</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex justify-between items-center w-full md:h-12 md:mt-8">
      <p class="text-xs">&copy; Copyright 2025, All Rights Reserved</p>
      <!-- <div class="flex space-x-4">
        <a
          href="https://www.twitter.com"
          target="_blank"
          rel="noopener noreferrer"
          class="rounded-full hover:shadow-lg hover:shadow-red-500 transition-shadow duration-300"
        >
          <img
            src="/socialIcons/twitterIcon.svg"
            alt="Twitter"
            class="w-6 h-6 md:w-8 md:h-8"
          />
        </a>
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
          class="rounded-full hover:shadow-lg hover:shadow-red-500 transition-shadow duration-300"
        >
          <img
            src="/socialIcons/facebookIcon.svg"
            alt="Facebook"
            class="w-6 h-6 md:w-8 md:h-8"
          />
        </a>
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          class="rounded-full hover:shadow-lg hover:shadow-red-500 transition-shadow duration-300"
        >
          <img
            src="/socialIcons/instaIcon.svg"
            alt="Insta"
            class="w-6 h-6 md:w-8 md:h-8"
          />
        </a>
        <a
          href="https://www.github.com"
          target="_blank"
          rel="noopener noreferrer"
          class="rounded-full hover:shadow-lg hover:shadow-red-500 transition-shadow duration-300"
        >
          <img
            src="/socialIcons/githubIcon.svg"
            alt="github"
            class="w-6 h-6 md:w-8 md:h-8"
          />
        </a>
      </div> -->
    </div>
  </div>
</footer>
