<div
  class="flex items-center justify-center dark:bg-dark-gradient bg-gradient-to-br from-[#DB9C9C] via-light-background to-light-background w-full pt-10 pb-10 flex-col tablet:flex-row"
>
  <div class="mb-3"><h1 class="text-[36px]">Want to know more ?</h1></div>
  <div>
    <a
      href="/#reserveCall"
      class="bg-gradient-to-r from-[#2B0303] to-[#8F0606] ml-8 p-[12px] w-[144px] h-[44px] rounded-[8px] text-dark-text"
      >Lets have a call</a
    >
  </div>
</div>
